<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Courses</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-searchbar [debounce]="1000" (ionInput)="handleSearch($event)" placeholder="Search by name, tag"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full" [inset]="false">
    @for (course of courses(); track course.courseName) {
      <ion-item [button]="true" detail="false">
        <ion-label>
          <h3>{{course.courseName}}</h3>
          <p>
            @if (course.discountPercentage){ 
              <small class="line-through">{{course.actualPrice | currency: course.currency}}</small>
            }
            {{ course.getEffectivePrice | currency: course.currency}}</p>

          <h4>
            @for (tag of course.tags; track tag) {
              <ion-badge color="light">{{tag}}</ion-badge>
            }
          </h4>
        </ion-label>
        <div slot="end" class="metadata-end-wrapper">
          <app-wishlist-icon-button [id]="course.id"></app-wishlist-icon-button>
          <app-cart-icon-button [id]="course.id"></app-cart-icon-button>
        </div>
      </ion-item>
    } @empty {
      Empty list of courses
    }
  </ion-list>
</ion-content>
